main{
  display: flex;
  flex-direction: column;
  height: 100vh;
}
main .main-informations{
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 100px;
}
main .main-informations .m6-main-img{
  width: 400px;
}
main .main-informations .services{
  display: flex;
  flex-direction: column;
  gap: 15px;
}
main .main-informations .services .services-links{
  background-color: #0ff;
  color: #000;
  border: solid #0ff 1px;
  padding: 15px 30px;
  text-decoration: none;
  font-weight: 600;
  transition-property: background-color;
  transition-duration: 0.5s;
}
main .main-informations .services .services-links:hover{
  background-color: transparent;
}
main .other-images{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main .other-images .title-of-others-images-section{
  font-size: 30px;
}